<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--  本来要配置数据源，但是交给mybatis做了  -->


    <typeAliases>
        <package name="com.yyz.pojo"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/yyz/dao/BookMapper.xml"/>
    </mappers>

</configuration>